*{
    margin: 0;
    padding: 0;
}
img{
    display: block;
    width: 100%;
}
body{
    font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
}
.banner{
    display: flex;
    padding: 5%;
    background-image: url(images/shapes/Frame\ 56.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text{
    width: 35%;
    margin-top: 80px;
    
}
h1{
    color: #575757;
    font-size: 60px;
}
.colorful{
    color: #FB9049;
}
p{
    font-size: 20px;
    color: #828282;
    margin: 30px 0;
}
.orderBtn{
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(#FB9049,#FD4C2F);
    padding: 24px 32px;
    border-radius: 35px;
    box-shadow: 2px 2px 10px #FB9049;

}
.image{
    width: 50%;
}


h3{
    color: #707070;
    font-size: 40px;
}

.about{
    background-image: url(images/shapes/7.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.aboutImg img{
    width: 40%;
}

.heading{
    text-align: center;
    justify-content: center;
}

.heading h3{
    color: #707070;
    font-size: 40px;
}
.heading p{
    font-size: 18px;
}
.recipies{
    padding: 5%;
}
.items{
    display: flex;
    justify-content: space-around;
}
.item{
    width: 30%;
    padding: 10px;
    box-shadow: 2px 2px 10px #FB9049;
    border-radius: 15px;
}
.title, .description{
    font-size: 18px;
    margin-top: 20px;
}
